@inherits UserContext

<AuthorizeView>
    <Authorized>
        <div>
            <b>@User.Username</b> | <a @onclick="logout">Logout</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <a @onclick="Login">Login</a>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code{

    void Login()
    {
        NavTo("/login");
    }

    async Task logout()
    {
        await Logout();
    }
}